@media(max-width:1235px) {
    .content-2{
        display: flex;
        flex-wrap: wrap;
    }
    .content-3{
        display: flex ;
        flex-wrap: wrap;
    }
    .content-3-left{
        max-width: 1635px;
        width: 100%;
        background-color: #000000;
    }
    .content-3-right{
        max-width: 1635px;
        width: 100%;
        background-color: #000000;
    }
    .content-2-left{
        max-width: 1635px;
        width: 100%;
    }
    .content-2-right{
        max-width: 1635px;
        width: 100%;
        background-color: #000000;
    }
}
@media (max-width:1110px) {
    .cards{
        margin: 20px 20px 20px 20px;
    }
    .content-4{
        height: 1700px;
    }
}
@media (max-width:1033px) {
    .footer{
        height: 100%;
    }
}
@media (max-width:899px) {
    .cards{
        margin: 20px 50px 20px 50px;
    }
    .content-4{
        height: 2200px;
    }
    .rows-cards{
        display: flex;
        justify-content: space-evenly;
    }
}
@media (max-width:720px) {
    .content-4{
        height: 4000px;
    }
}
@media (max-width: 730px) {
    .navbar-right{
        display: none;
    }
    .menu{
        color: white;
        display: table;
    }
    .content-2-left{
        height: 1150px;
    }
    .row-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        margin: 20px 20px 0px 20px ;
    }
}

@media(max-width:560px){
    .content-2-left{
        height: 1600px;
    }
}
@media (max-width: 545px){
    .header-nav-right ul li {
        text-align: left;
    }
}
@media (max-width:515px) {
    .footer{
        height: 100%;
    }
}
@media (max-width:380px) {
    .content-2-right h1{
        font-size: 25px;
    }
}
@media(max-width:360px) {
    .content-3-right button{
        margin-top: 100px;
    }
    .header-nav-left{
        margin-top: -17px;
    }
    .header-nav-right{
        margin-top: -17px;
    }
}
@media(max-width:315px) {
    .content-1 p{
        font-size: 13px;
    }
}